<ion-view title="详情页" id="page-detail">
	<ion-header-bar
	title="详情页"
	left-buttons="back"
	type="bar-positive"
	align-title="center"></ion-header-bar>

	<ion-content has-header="true" padding="true">

		<div class="row">
			<div class="gallery-item">
				<img src="img/ionic.png"/>
			</div>
			<div class="gallery-item">
				<img src="img/ionic.png"/>
			</div>
			<div class="gallery-item">
				<img src="img/ionic.png"/>
			</div>
			<div class="gallery-item">
				<img src="img/ionic.png"/>
			</div>
			<div class="gallery-item">
				<img src="img/ionic.png"/>
			</div>
		</div>

	</ion-content>

</ion-view>