<ion-view title="详情页" id="page-detail" class="page-detail">

	<ion-header-bar
		title="详情页"
		left-buttons="back"
		type="bar-positive"
		align-title="center"
		id="detail-header"
		></ion-header-bar>

	<ion-content has-header="true" padding="true" ng-controller="DetailController">
		<div class="photo-item" ng-repeat="photo in group.photos">
			<div class="item-wrap">
				<p><span class="user-avatar"></span><span class="nickname">{{photo.nickname}}</span></p>
				<p><img ng-src="{{photo.src}}" /></p>
				<p class="actions">
					<i class="share">分享</i>
					<i class="follow">赞({{photo.follows}})</i>
					<i class="comment" ng-click="showComment()">评论({{photo.comments}})</i>
				</p>
				<div class="comment-panel" ng-controller="CommentController" ng-show="photo.commentShow">
					<p>
						<input type="text" class="comment-input" ng-model="commentContent" data-photoId="{{photo.id}}" />
						<button class="comment-submit" ng-click="submitComment()">发表</button>
					</p>

					<p ng-repeat="comment in photo.commentItems">
						<span class="user-avatar"></span>
						<span class="nickname">{{comment.nickname}}</span>：
						<span class="comment-content">{{comment.content}}</span>
						<span class="comment-time">{{comment.time}}</span>
					</p>
				</div>
			</div>
		</div>
	</ion-content>

</ion-view>