<ion-view title="首页" left-buttons="leftButtons" class="page-home">
	<div class="tabs tabs-top" id="homeTabs" ng-controller="HomeTabController">
		<a class="tab-item active" ng-click="slideTo(0)">精华</a>
		<a class="tab-item" ng-click="slideTo(1)">身边</a>
		<a class="tab-item" ng-click="slideTo(2)">收藏</a>
	</div>
	<ion-pane has-header="true" ng-controller="HomeController" style="margin-top: 44px;">
		<ion-slide-box class="tab-slide home-pages" show-pager="false" ng-controller="SliderCollection" on-slide-changed="slide()">
			<ion-slide style="-webkit-overflow-scrolling: touch;overflow-y: auto;overflow-x: hidden;padding-bottom: 44px">
				<div class="pride-slide">
					<!-- 轮播图 -->
					<div class="slider-container" ng-controller="RecommendCollection">
						<ion-slide-box class="tab-slide recommend-collection" on-slide-changed="slide()">
							<ion-slide ng-repeat="recommend in recommends">
								<a href="#/list?groupId={{recommend.id}}"><span style="background-image: url({{recommend.src}})" class="slide-img" ></span></a>
							</ion-slide>
						</ion-slide-box>
						<p id="groupName">{{currentGroup}}</p>
					</div>
					<div class="local-list">
						<div  class="list-item" style="width: {{screen_width/2}}px;height:{{screen_width/2}}px;" ng-repeat="group in hotgroups">
							<div class="inner">
								<a href="#/list?groupId={{group.id}}"> <span src-type="background" src-resize="{{group.photos[0]}}"  class="img"></span> </a>

								<p>
									{{group.name}}
									<a href="#/map?position={{group.longitude}},{{group.latitude}}" ng-show="group.longitude" class="icon ion-ios7-location"></a>
								</p>
							</div>

						</div>
					</div>

				</div>
			</ion-slide>
			<ion-slide style="-webkit-overflow-scrolling: touch;overflow-y: auto;overflow-x: hidden;padding-bottom: 44px">
				<div class="beside-slide">
					<div id="positionLoading"><loading></loading></div>
					<p ng-show="getCurrentPositionFailure" class="failure-tips">定位失败，请重试!</p>
					<div class="beside-groups">
						<div class="local-list">
							<div  class="list-item" style="width: {{screen_width/2}}px;height:{{screen_width/2}}px;" ng-repeat="group in besidegroups">
								<div class="inner">
									<a href="#/list?groupId={{group.id}}"> <span src-type="background" src-resize="{{group.photos[0]}}"  class="img"></span> </a>

									<p>
										{{group.name}}
										<a href="#/map?position={{group.longitude}},{{group.latitude}}" ng-show="group.longitude" class="icon ion-ios7-location"></a>
									</p>
								</div>

							</div>
						</div>

					</div>
				</div>
			</ion-slide>
			<ion-slide style="-webkit-overflow-scrolling: touch;overflow-y: auto;overflow-x: hidden;padding-bottom: 44px">
				<div class="collect-slide">
					<div id="collectGroupsLoading"><loading></loading></div>
					<p ng-show="getCollectGroupsFailure" class="failure-tips">暂无收藏的相册!</p>
					<div class="collect-groups">
						<div class="local-list">
							<div  class="list-item" style="width: {{screen_width/2}}px;height:{{screen_width/2}}px;" ng-repeat="group in collectgroups">
								<div class="inner">
									<a href="#/list?groupId={{group.id}}"> <span src-type="background" src-resize="{{group.cover}}"  class="img"></span> </a>
									<p>
										{{group.name}}
										<a href="#/map?position={{group.longitude}},{{group.latitude}}" ng-show="group.longitude" class="icon ion-ios7-location"></a>
									</p>
								</div>

							</div>
						</div>
						
					</div>
				</div>
			</ion-slide>
		</ion-slide-box>
	</ion-pane>
</ion-view>