<div ng-controller="ListController">
	<ion-view title="{{cover.name}}"  class="page-list" ng-click="showdroplist=false">
		<ion-header-bar
		title="{{cover.name}}"
		left-buttons="back"
		type="bar-positive"
		right-buttons="rightButtons"
		align-title="center"></ion-header-bar>

		<div class="list droplist " ng-show="showdroplist">
			<div class="droplist-inner ">
				<a class="item item-icon-left " ng-click="doCollect($event)"> <i class="icon ion-ios7-heart-outline"></i> 收藏本系列 </a>
				<!-- <a class="item item-icon-left "> <i class="icon ion-ios7-chatbubble-outline"></i> 评论本系列 </a> -->
				<a class="item item-icon-left "  ng-click="openShare()"> <i class="icon ion-ios7-redo-outline"></i> 分享本系列 </a>
			</div>
		</div>

		<ion-content has-header="true" >
			<ion-refresher
				pulling-text="Pull to refresh..."
				on-refresh="loading.init()"></ion-refresher>
			<ion-infinite-scroll
				ng-if="loadingmore"
				on-infinite="loading.more()"
				icon="ion-loading-d"
				distance="1%"></ion-infinite-scroll>
			<ul class="list">
				<li class="item" ng-click="onItemClick()" ng-show="item.show" ng-repeat="item in list">
					<div class="inner">
						
						
						<span class="name">{{item.nickname}}</span>
						<span class="time">{{item.time}}</span>
						<div class="content" ng-switch on="item.offline">
							<div ng-switch-when="false" class="img center_inside" src-type="background" src-resize="{{item.img}}"></div>
							<div ng-switch-when="true" class="img center_inside" native-src="{{item.img}}" native-src-type='background'></div>
						</div>
						<span ng-click="onAvatarClick();$event.stopPropagation();" class="photo center_crop" src-type="background" src-resize="{{item.avatar}}"></span>
						<div class="actionbar" >
							<a class="button button-icon icon ion-ios7-cloud-upload-outline" ng-click="onAsync()" ng-show="item.offline"></a>
							<a class="button button-icon icon ion-ios7-trash-outline" ng-click="onDel()" ng-show="item.my||item.offline"></a>
						</div>
					</div>
					<div class="button-bar" ng-hide='item.offline'>
						<a ng-click="openShare();$event.stopPropagation();" class="button icon-left ion-ios7-redo-outline button-clear">分享</a>
						<a class="button  icon-left ion-ios7-chatbubble-outline button-clear">{{item.comments}}</a>
						<a class="button icon-left ion-ios7-heart-outline button-clear" ng-class="item.liked">{{item.likes}}</a>
					</div>
				</li>
				<li class="item" ng-show="loadingmore">
					<div class="ion-loading-d"></div>
				</li>
			</ul>
			<div style="height:1px;"></div>
		</ion-content>

	</ion-view>

	<share-dialog></share-dialog>
	<share-detail-dialog></share-detail-dialog>
</div>