<ion-view title="本地相册" class="page-local">
	<ion-content has-header="true" >
		<div ng-controller="galleryNetworkController" class="local-list">
			<div class="list-item" style="width: {{item_width}}px;height:{{item_width}}px;" ng-repeat="group in groups" hm-hold="holdGesture($event,$index)">
				<div class="inner">
					<div native-src="{{group.photo}}" native-src-type='background' class="img"></div>
					<p>
						{{group.name}}
					</p>
				</div>

			</div>
		</div>
	</ion-content>
</ion-view>