<ion-view title="登录" id="page-detail">
	<ion-header-bar
	title="登录"
	left-buttons="back"
	type="bar-positive"
	align-title="center"></ion-header-bar>

	<ion-content has-header="true" class="setting-bg login-bg" ng-controller="LoginController">

		<div class="setting-list" style="margin: 25px 0;">

			<div class="setting-item">
				<label>账号</label>
				<div class="login-input">
					<input type="text" placeholder="请输入账号" ng-model="username" />
				</div>

			</div>
			<div class="setting-item">
				<label>密码</label>
				<div class="login-input">
					<input type="password" placeholder="请输入密码" ng-model="password" />
				</div>
			</div>
		</div>

		<div class="login-actions" style="margin: 30px 0;">
			<a class="button button-normal button-outline button-positive" ng-click="login()">
				登录
			</a>
			<a href="#/register" class="button  button-normal button-outline button-balanced">
				注册
			</a>
		</div>
		
		<div class="login-third">
			<a>
				<figure class="icon-weibo"></figure>
				<label>微博登录</label>
			</a>
			<a style="border-left: 1px solid #c8c7cc;">
				<figure class="icon-QQ"></figure>
				<label>QQ登录</label>
			</a>
		</div>

	</ion-content>

</ion-view>