<ion-view title="地图" class="map">
	<ion-header-bar
	title="地图"
	left-buttons="back"
	type="bar-positive"
	align-title="center" ></ion-header-bar>

	<ion-pane has-header="true" style="margin-top: 44px;">
		<div  ng-controller="map_display">

			<div id="map-container"></div>

			<div class="map-popup-outer" id="map-popup" style="display: {{popup.display}};">
				<div class="map-popup" >
					<div class="map-popup-inner">
						<div class="popup {{popup.state}}" buttons="buttons">
							<div class="popup-head">
								<h3 class="popup-title ng-binding" >{{popup.album}}</h3>
							</div>
							<div class="popup-body">

								<div class="map-detail-thumnail">
									<div class="map-detail-thumnail-inner">
										<img  ng-src="{{popup.photo}}"/>
									</div>
								</div>
								<div class="map-detail-row">
									<p>
										<label>系列：</label>
										<span>{{popup.album}}</span>
									</p>
									<!-- <p>
										<label>城市：</label>
										<span>{{popup.city}}</span>
									</p> -->
									<p>
										<label>跟拍：</label>
										<span>{{popup.follow}}张</span>
									</p>
									<p>
										<label>时间：</label>
										<span>{{popup.time}}</span>
									</p>
								</div>
							</div>

							<div class="popup-buttons row">
								<button class="button col button-stable" ng-click="closePopup()">
									关闭
								</button>
								<a class="button col button-positive" href="#{{popup.url}}" style="display: block;line-height: 33px;">
									查看详情
								</a>
							</div>
						</div>
					</div>

				</div>
				<div class="popup-backdrop"></div>
			</div>
		</div>
	</ion-pane>

</ion-view>