<ion-view title="我发出的评论" class="page-detail">
    <ion-header-bar
        title="我发出的评论"
        left-buttons="back"
        type="bar-positive"
        align-title="center"></ion-header-bar>

    <ion-content has-header="true" padding="true"  ng-controller="CommentsController">
        <loading></loading>
        <p ng-show="!comments" class="failure-tips">暂未发表任何评论</p>

        <div class="photo-item" ng-repeat="comment in comments">
            <div class="item-wrap">
                <p class="img-wrap" ng-switch>
                    <span ng-switch-default class="img" style="height:{{screen_width/16*9}}px;" src-type="background" src-resize="{{comment.src}}"></span></span>
                </p>
                <p class="content"><span>{{user}}：{{comment.content}}({{comment.time}})</span></p>
            </div>
        </div>

    </ion-content>
</ion-view>