<ion-view title="网络相册" class="page-local">

    <ion-content has-header="true" >
        <div ng-controller="galleryNetworkController" class="local-list">
            <div class="list-item" style="width: {{item_width}}px;height:{{item_width}}px;" ng-repeat="group in groups">
                <div class="inner">
                    <a href="#/detail?groupId={{group.id}}"><div style="background-image:url({{group.src}})" class="img"></div></a>
                    <p class="name">{{group.name}}</p>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>