<div ng-controller="pageController" >
	<div ng-show="showPage" id="page-page-content" ng-init="showPage=true">

		<ion-pane id="page-page-scroll" class="page-page"  has-header="true"  style="overflow: auto;-webkit-overflow-scrolling: touch;padding-bottom: 32px;">
			<ion-view id="page-page-view" title="详情页" style="position: static;display: block;width:auto;height:auto;">
				<ion-header-bar
				title="详情页"
				left-buttons="back"
				type="bar-positive"
				align-title="center" style="position: static;"></ion-header-bar>

				<div class="page-row1" >

					<div class="row1-row1">
						<a href="#/user?username={{photo.username}}" class="photo center_crop" src-type="background" src-resize="{{photo.avatar}}"></a>
						<div class="name">
							{{photo.nickname}}
						</div>
						<div class="time">
							{{photo.time}}
						</div>
					</div>
					<div class="row1-row2">
						<span class="img center_crop" src-type="background" src-resize="{{photo.src}}"></span>
					</div>

				</div>

				<div class="page-row2">

					<div class="row2-row1" id="page-fixed-bar" ng-class='showlist' scroll-fix="#page-page-scroll">
						<span class="tab-comment" ng-click='switchTab("comment")'>{{photo.comments}}评论</span>
						<span class="tab-like" ng-click='switchTab("like")'>{{photo.likes}}赞</span>
					</div>

					<div class="row2-row2">
						<div class="comment-list" ng-show='showlist=="comment"'>
							<div class="empty" ng-show="commentList.length==0">
								目前还没有评论哦~
							</div>
							<div class="comment-item" ng-repeat="comment in commentList">
								<a href="#/user?username={{comment.username}}" class="photo center_crop" src-type="background" src-resize="{{comment.avatar}}"></a>
								<div class="right">
									<span class="name">{{comment.nickname}}</span>
									<div class="content">
										{{comment.content}}
									</div>
									<div class="time">
										{{comment.time}}
									</div>
								</div>
							</div>
							<div class="ion-loading-d"  ng-show="showCommentLoading" ng-init="showCommentLoading=true"></div>
						</div>
						<div class="like-list" ng-show='showlist=="like"'>
							<div class="empty" ng-show="likeList.length==0">
								目前还没有赞哦~
							</div>
							<a href="#/user?username={{like.username}}" style="display: block;" class="like-item" ng-repeat="like in likeList">
								<span class="photo center_crop" src-type="background" src-resize="{{like.avatar}}"></span>
								{{like.nickname}}
							</a>
							<div class="ion-loading-d" ng-show="showLikeLoading" ng-init="showLikeLoading=true"></div>
						</div>

					</div>

				</div>
			</ion-view>

		</ion-pane>
		<div class="page-bottom-bar">

			<button class="button button-outline icon-left ion-ios7-redo-outline button-positive" ng-click="openShare()">
				分享
			</button>

			<a class="button button-outline icon-left ion-ios7-chatbubble-outline button-positive" ng-click="switchPblish()">评论</a>

			<a class="button button-outline icon-left ion-ios7-heart-outline button-positive" ng-class="photo.liked" ng-click="onLike()">赞</a>

		</div>
	</div>
	<div class="page-pblish" ng-show="showPblish" >
		<ion-view title="评论" >
			<ion-header-bar
			title="评论"
			left-buttons="back"
			right-buttons="pblishButton"
			type="bar-positive"
			align-title="center">
			</ion-header-bar>
			
			<ion-content has-header="true" padding="true">
			
				<textarea  style="height: 200px;" placeholder="写评论..." ng-model="photo.newComment"></textarea>
			
			</ion-content>

		</ion-view>
	</div>
</div>
<share-dialog></share-dialog>
<share-detail-dialog></share-detail-dialog>

