<div ng-controller="syncConfirmController">
	<ion-view title="确认" class="page-syncConfirm" >
		<ion-header-bar
		title="确认"
		left-buttons="back"
		right-buttons="syncConfirmRightButton"
		type="bar-positive"
		align-title="center">

		</ion-header-bar>
		<ion-content has-header="true" >

			<div class="list">
				<label class="item item-input item-stacked-label"> <span class="input-label">相册名</span>
					<input type="text" placeholder="取一个响亮的名字吧~" value="{{album}}">
				</label>
				<label class="item item-input item-stacked-label"> <span class="input-label">相册列表</span>
					<div class="img_list">
						<span class="img" ng-repeat="data in listData | filter:{ selected: true }" ng-click="onItemClick($index);" native-src="{{data.photo}}" native-src-type='background'></span>
						<button class="button  ion-android-add" ng-click="add()"></button>
					</div> </label>

				<label class="item item-input item-stacked-label"> <span class="input-label">描述</span> 					<textarea type="text" placeholder="一句话概括一下吧，亲~">{{desc}}</textarea> </label>

			</div>

		</ion-content>

	</ion-view>

	<div class="page-sync-detail {{detail_state}}" >
		<ion-view title="{{detail_title}}" class="page-sync" >
			<ion-header-bar
			title="{{detail_title}}"
			left-buttons="back"
			right-buttons="syncConfirmDetailRightButton"
			type="bar-positive"
			align-title="center">

			</ion-header-bar>

			<div  class="sync-detail-outer " style="display:block;">
				<div class="sync-detail">
					<ion-slide-box on-slide-changed="onSlideChange()" show-pager="false">
						<ion-slide ng-repeat="data in listData | filter:{ selected: true }">
							<div class="img" native-src="{{data.photo}}" native-src-type='background'></div>
						</ion-slide>

					</ion-slide-box>

				</div>
			</div>

		</ion-view>
	</div>

</div>