<div class="sharelist-outer" ng-show='api.show' ng-click="api.show = false">
	<div class="sharelist" ng-click='$event.stopPropagation();'>
		<ul style="padding: 10px 0;">
			<!--<li ng-hide='api.isNative' ng-click="shareQzone();">
				<div style="text-align: center;">
					<i class="icon-share-renren"></i>
				</div>
				<label>人人网</label>
			</li>-->
			<li ng-hide='api.isNative' ng-click='shareWeibo();'>
				<div style="text-align: center;">
					<i class="icon-share-weibo"></i>
				</div>
				<label>新浪微博</label>
			</li>
			<li ng-hide='api.isNative' ng-click='shareTecent();'>
				<div style="text-align: center;">
					<i class="icon-share-tencent"></i>
				</div>
				<label>腾讯微博</label>
			</li>
			
			<li ng-click="shareWechat(0);">
				<div style="text-align: center;">
					<i class="icon-share-wechat"></i>
				</div>
				<label>微信好友</label>
			</li>
			<li ng-click="shareWechat(1);">
				<div style="text-align: center;">
					<i class="icon-share-timeline"></i>
				</div>
				<label>微信朋友圈</label>
			</li>
		</ul>
	</div>
</div>