<div class="share-dialog" ng-show="api.show">
	<div class="inner">
		<div class="match_parent" style="overflow: hidden;">
			<iframe iframe-src="api.url" ></iframe>
		</div>
		<div class="match_parent" ng-show="api.loading" style="background: #fff;">
			<div class="ion-loading-d" style="text-align: center;font-size: 50px;position: absolute;left: 50%;top: 50%;margin-left: -25px;margin-top: -25px;"></div>
		</div>
		<button class="button button-icon icon ion-ios7-close close" ng-click="api.show=false"></button>
		
	</div>
</div>