<?xml version='1.0' encoding='utf-8'?>
<widget id="com.baidu.fex.here" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>here</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,cache,cache-external,root,file,content" />
    
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="10000" />

    <feature name="SplashScreen">  
 		<param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />  
	</feature> 

	<feature name="Camera">
	    <param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
	</feature>


    <content src="http://172.22.72.210/end/here_hybird/"/>

    <access origin="*" />
</widget>
