.openshare-box{
	position: absolute;
	z-index: 99999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	text-align: center;
}
.openshare-inner{
	position: absolute;
	bottom: 0;
	left: 30px;
	right: 30px

	
}
.openshare-row{
	 background: rgba(255,255,255,0.8);
	 -webkit-border-radius: 10px;
	 padding: 0 40px;
}
.openshare-box h1{
	color:#8a8a8a;
	font-size: 13px;
	height: 48px;
	line-height: 48px;
	margin: 0;
}
.openshare-box li{
	color: #007aff;
	height: 48px;
	line-height: 48px;
	font-size: 21px;
	border-top: 1px solid #999999;
	margin: -1px;
}
@-webkit-keyframes openphotoin {
    from { -webkit-transform: translateY(210px); }
    to   { -webkit-transform: translateY(0px); }
}
.openshare-box .close{
	color: #007aff;
	height: 48px;
	line-height: 48px;
	font-size: 21px;
	margin: 6px 0;
	
}
.openshare-box{
	display: none;
}
.openshare-box.active{
	display: block;
}
.openshare-box.active .openshare-inner{
	-webkit-animation: sharelistzoomin 0.5s ease-in-out;
	-webkit-transition-timing-function: linear;
}
.share-dialog{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.2);
	z-index: 999999;
}
.share-dialog .inner{
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	-webkit-border-radius: 10px;
	border: 5px solid rgba(255,255,255,0.5);
	background: transparent;
}
.share-dialog iframe{
	border: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background:#fff;
}
.share-dialog .close{
	position: absolute;
	right: -22px;
	top: -22px;
	color: rgb(238,50,48);
}
.sharelist{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	background: rgba(255,255,255,0.8);
	z-index: 99999;
	
}
.sharelist li{
	width: 32%;
	text-align: center;
	display: inline-block;
	margin: 5px 0;
	
}
.sharelist-outer{
	position: fixed;
	z-index: 9999;
	background: rgba(0,0,0,0.2);
	left: 0;
	width: 100%;
	top: 0;
	height: 100%;
}
.sharelist-outer.active{
	display: block;
}

@-webkit-keyframes sharelistzoomin {
    from { -webkit-transform: translateY(210px); }
    to   { -webkit-transform: translateY(0px); }
}
.sharelist-outer .sharelist{
	-webkit-animation: sharelistzoomin 0.5s ease-in-out;
	-webkit-transition-timing-function: linear;
}
