/* Your app's CSS, go crazy, make it your own */
a{
	text-decoration: none;
}
.ionic-logo {
	display: block;
	margin: 15px auto;
	width: 96px;
	height: 96px;
}
.capture-button-big{
	background: url("images/camera_big.png") no-repeat;
	width: 21.5px;
	height:20px;
	background-size: contain;
	display: inline-block;
	border: none;
}

