.page-detail img {
    max-width: 100%;
    border-radius: 5px;
    border: 1px solid #E2E2E2;
}
.page-detail .user-avatar {
    display: inline-block;
    border: 2px solid #E2E2E2;
    vertical-align: middle;
    margin-right: 0.5em;
    height: 24px;
    width: 24px;
    background-color: #4A87EE;
    border-radius: 12px;
}
.page-detail .nickname {
    line-height: 24px;
}
.page-detail .actions {
    text-align: right;
}
.comment-panel {
    background-color: #E3E2E2;
    padding: 10px;
    margin-bottom: 20px;
}
.comment-panel .user-avatar {
    border-color: #FFF;
}
.comment-panel .comment-input {
    width: calc(100% - 50px);
    float: left;
    height: 30px;
    line-height: 26px;
    padding: 2px 5px;
}
.comment-panel .comment-submit {
    height: 30px;
    width: 40px;
    background-color: #3B8AD3;
    border: 1px solid #E1E1E1;
    color: #FFF;
    font-size: 12px;
    line-height: 26px;
    margin-left: 10px;
}