.page-detail img {
    max-width: 100%;
    border-radius: 5px;
    border: 1px solid #E2E2E2;
}
.page-detail .user-avatar {
    display: inline-block;
    border: 2px solid #E2E2E2;
    vertical-align: middle;
    margin-right: 0.5em;
    height: 24px;
    width: 24px;
    background-color: #4A87EE;
    border-radius: 12px;
}
.page-detail .nickname {
    line-height: 24px;
}
.page-detail .actions {
    text-align: right;
    padding-right: 8px;
}
.page-detail .img-wrap {
    text-align: center;
}
.comment-panel {
    background-color: #E3E2E2;
    padding: 10px;
    margin-bottom: 20px;
}
.comment-panel .user-avatar {
    border-color: #FFF;
}
.comment-panel .comment-input {
    width: calc(100% - 50px);
    float: left;
    height: 30px;
    line-height: 26px;
    padding: 2px 5px;
}
.comment-panel .comment-submit {
    height: 30px;
    width: 40px;
    background-color: #3B8AD3;
    border: 1px solid #E1E1E1;
    color: #FFF;
    font-size: 12px;
    line-height: 26px;
    margin-left: 10px;
}
.page-detail .img-wrap {
    margin: 0;
}
.page-detail .actions .share,
.page-detail .actions .follow,
.page-detail .actions .comment {
    line-height: 30px;
    display: inline-block;
    height: 30px;
    margin-left: 10px;
}
.page-detail .actions .share:before,
.page-detail .actions .follow:before,
.page-detail .actions .comment:before {
    content: "\f198";
    font-family: "Ionicons";
    color: #4A87EE;
    font-size: 26px;
    padding-right: 5px;
    line-height: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    font-weight: bolder;
}
.page-detail .actions .share:before {
    content: "\f220";
}
.page-detail .actions .comment:before {
    content: "\f16a";
}