.local-list .list-item .img {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	top: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.local-list:after{
	content:".";display:block;height:0;clear:both;visibility:hidden
}
.local-list .list-item p {
	right: 0;
	left: 0;
	position: absolute;
	bottom: 0;
	background: rgba(0,0,0,0.5);
	color: #fff;
	height: 30px;
	line-height: 30px;
	padding:0 5px;
	margin: 0;
}

.local-list .list-item {
	position: relative;
	float: left;
}
.local-list .list-item .inner {
	position: absolute;
	top: 5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
	
}
.local-list .list-item .icon{
	position: absolute;
	right: 0;
	top: 0;
	height: 30px;
	width: 35px;
	line-height: 32px;
	font-size: 25px;
	color: #FF6136;
	text-align: center;
}



.page-network .list-item {
	float: left;
	width: 40%;
	margin-left: 5%;
	margin-top: 20px;
	overflow: hidden;
	position: relative;
}
.page-network .list-item:after {
	content: '';
    display: block;
    margin-top: 100%;
}
.page-network .list-item .inner,
.page-network .list-item .name {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.page-network .list-item .name {
	bottom: 0;
	top: auto;
	margin: 0;
	line-height: 30px;
	background-color: rgba(0, 0, 0, 0.59);
	padding-left: 1em;
	color: #FFF;
}
.page-network .list-item a {
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	height: 100%;
	border: 1px solid #E1E1E1;
	padding: 1px;
}
.page-network .list-item img {
	height: 100%;
	width: 100%;
	text-align: center;
}