.login-bg .login-input{
	position: absolute;
	left: 40px;
	right: 5px;
	top: 3px;
	bottom: 0;
	display: block;
}
.login-bg .setting-item:after{
	display: none;
}
.login-actions{
	text-align: center;
}
.login-actions a{
	width: 80px;
	margin: 0 5px;
	height: 33px;
	line-height: 33px;
	min-height: 33px;
}
.login-third{
	border-top:1px solid #c8c7cc;
	border-bottom:1px solid #c8c7cc;
	display: table;
	width: 100%;
}
.login-third a{
	text-align: center;
	background: #ffffff;
	height: 44px;
	display: table-cell;
	width: 50%;
	vertical-align: middle;
}
.icon-weibo{
	display: inline-block;
	background: url("images/weibo.png") no-repeat;
	width: 29px;
	height: 21px;
	vertical-align: middle;
	background-size: contain;
}
.icon-QQ{
	display: inline-block;
	background: url("images/qq.png") no-repeat;
	width: 22px;
	height: 21px;
	vertical-align: middle;
	background-size: contain;
}