.page_likelist .item{
	position: relative;
	padding: 0;

}
.page_likelist .photo.left{
	width: 53px;
	height: 53px;
	position: absolute;
	left: 10px;
	top: 10px;
}
.page_likelist .photo.right{
	width: 77px;
	height: 77px;
	position: absolute;
	right: 10px;
	top: 3px;
}
.page_likelist .center{
	margin: 12px 0 12px 80px;
}
.page_likelist .name{
	font-size: 18px;
	color: #f46302;
}
.page_likelist .content,.page_likelist .time{
	font-size: 14px;
	color:#a6a6a6;
}
.page_likelist .ion-loading-d{
	height: 44px;
	line-height: 44px;
	font-size: 35px;
	text-align: center;
	display: block;
}
