.sync-list:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.sync-list {
	margin-top: 1px;
}
.sync-list-item {
	float: left;
	overflow: hidden;
	position: relative;
}
.sync-list-item:nth-child(3n+0) .inner {
	margin-right: 1px;
}
.sync-list-item .inner {
	margin: 1px 0 0 1px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
}
.sync-list-item .img {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	top: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.sync-list-item .mask {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #000;
	opacity: 0.2;
}

.sync-list-item .checkbox {
	position: absolute;
	right: 0;
	top: 0;
}
.page-sync .slider {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 1px;
	background: #fff;
}
.page-sync .pane {
	top: 44px;
	bottom: 0;
	height: auto;
}
.page-sync .slider-pager {
	display: none;
}
.page-sync .sync-detail {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.page-sync .slider-slide .img {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}
.sync-detail-outer {
	display: none;
}
.sync-detail-outer.active {
	display: block;
}
@-webkit-keyframes zoomIn {
	from {
		opacity: 0;
		-webkit-transform:  scale(0);
	}
	to {
		opacity: 1;
		-webkit-transform:  scale(1);
	}
}
.sync-detail-outer.active .sync-detail {
	-webkit-animation: zoomIn 0.3s ease-in-out;
	-webkit-transition-timing-function: linear;
}
	

.sync-detail .bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(74,135,238,0.5);
	text-align: right;
}
.sync-detail .bottom * {
	vertical-align: middle;
}

.page-syncConfirm .list .img,.page-syncConfirm .list .ion-android-add{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	float: left;
	width: 70px;
	height: 70px;
	margin: 2px 0 0 2px;
	font-size: 25px;

} 
.page-syncConfirm .img_list:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.page-sync-detail{
	display: none;
}
.page-sync-detail.active{
	display: block;
}
.page-sync-detail.active .page-sync{
	-webkit-animation: zoomIn 0.3s ease-in-out;
	-webkit-transition-timing-function: linear;
}
